    <script src="{{ "/assets/js/social-share.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/index.min.js" | relative_url }}"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script>
      socialShare('.social-share', {
        sites: [
          {% for i in site.social-share-items %}
            '{{ i }}'
            {% if forloop.last == false %},
            {% endif %}
          {% endfor %}
        ],
        wechatQrcodeTitle: "分享到微信朋友圈",
        wechatQrcodeHelper: '<p>扫码后点击右上角</p><p>将本文分享至朋友圈</p>'
      });
    </script>
    {% if site.comments.disqus %}
    <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '{{ site.comments.disqus_url }}';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    {% endif %}